.container {
  font-family: "Lato", sans-serif;
  color: #212529;
  font-weight: 300;
  max-width: 60%;
  display: block;
  margin: 0 auto;
}

/* ------ Background colors -----*/
.whole-app,
.upcoming-days li {
  background: rgba(255, 235, 205, 1);
}

.card-body:not(.whole-app) {
  background: rgba(255, 235, 205, 0.5);
}

/* ----- End Backgrounds--------*/

a {
  text-decoration: none;
}

#search-button,
#current-button {
  border: 1px solid #212529;
  background-color: rgb(255, 235, 205);
  transition: all 200ms ease-in-out;
}

#search-button:hover,
#current-button:hover {
  border: 1px solid rgb(228, 187, 126);
  background-color: rgb(228, 187, 126);
}

#cityname {
  font-size: 40px;
  font-weight: 500;
  text-transform: capitalize;
}

table {
  table-layout: fixed;
  width: 100%;
  padding: 1px 1px;
  font-size: 15px;
}

td {
  padding: 0px;
}

td.weather-details-values {
  width: 35%;
}
.today-details {
  margin-top: 5px;
  font-size: 22px;
  font-weight: 100;
}

#today-weather-details {
  font-size: normal;
}

.upcoming-days {
  font-size: 18px;
}
.upcoming-days .card-body {
  padding: 12px;
}

.upcoming-days li {
  padding: 10px;
}

.other-emoji {
  font-size: 27px;
  padding: 0 5px;
}

.lower-limit {
  font-weight: 100;
  color: rgba(0, 0, 0, 0.8);
}

.temporary-graph {
  display: block;
  margin: 0 auto;
  width: 300px;
}

.today-temperature {
  font-size: 50px;
  font-weight: 300;
}

.degrees {
  font-size: 60%;
}

.degree {
  color: #212529;
}

.degree:not(.chosenDegree):hover {
  color: rgb(228, 187, 126);
}

.chosenDegree {
  font-weight: 500;
  cursor: default;
}

.chosenDegree:hover {
  color: #212529;
}

.updated {
  text-align: right;
}
.github-link {
  color: rgb(151, 93, 5);
}
